<h3>All Ratings</h3>

<a href="{{ url_for('rate') }}">Add Rating</a>

<table border="1" cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Movie</th>
    <th>Rating</th>
    <th>Remarks</th>
    <th>Created At</th>
    <th>Actions</th>
  </tr>

  {% for rating in ratings %}
  <tr>
    <td>{{ rating.name }}</td>
    <td>{{ rating.movie }}</td>
    <td>{{ rating.stars }}</td>
    <td>{{ rating.remarks }}</td>
    <td>{{ rating.created_at.strftime('%Y-%m-%d %H:%M') }}</td>

    <td>
      {% if rating.movie in movie_map %}
        <a href="{{ url_for('edit_movie', id=movie_map[rating.movie].id) }}">Edit</a> |
        <a href="{{ url_for('delete_movie', id=movie_map[rating.movie].id) }}">Delete</a>
      {% else %}
        <a href="{{ url_for('edit_rating', id=rating.id) }}">Edit Rating</a> |
        <a href="{{ url_for('delete_rating', id=rating.id) }}">Delete Rating</a>      
      {% endif %}
    </td>

  </tr>
  {% endfor %}
</table>

<br>


<a href="{{ url_for('logout') }}">Logout</a>
